<a href="https://colab.research.google.com/github/Ariascarljans/58003-OOP/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [3]:
fruits = ['abc', 1,3,1]

print(fruits)
fruits.insert(2,2)
print(fruits)

['abc', 1, 3, 1]
['abc', 1, 2, 3, 1]

In [9]:
class Persons:
  def __init__(self,name,age):
   self.name = name
   self.age = age

student = Persons("ana", 20)
teacher = Persons("Maam Sayo", 40)
print(student.name)
print(student.age)

print(teacher.name)
print(teacher.age)

ana
20
Maam Sayo
40

In [37]:
class Shapes:
  def __init__(self,length,width):
  self.length = length
  self.width = width
def area(self):
  return self.length*self.width 

rectangle = Shapes(5,5)
rectangle.area()

IndentationError: ignored

Lists

In [38]:
pi = 3.1416
varlist = [ 1,2,'abc',"hello",pi]
print(varlist[0])
print(varlist[4])

1
3.1416

In [39]:
varlist.append(5)
print(varlist)

[1, 2, 'abc', 'hello', 3.1416, 5]

In [40]:
varlist.remove(pi)
print(varlist)

[1, 2, 'abc', 'hello', 5]

Dictionaries

In [46]:
var = "hello world"
varDict = {'first' : 123, 
           2 :'abc',
           '3': var, 
           4 : ['lista', 'listb'],
           2: 'def' ,
           2: 'ghi'

           }
print(varDict)

{'first': 123, 2: 'ghi', '3': 'hello world', 4: ['lista', 'listb']}

slicing

In [47]:
varlist = [1,2,3,4,5,6,7,8,9,10]
print(varlist[:5])

[1, 2, 3, 4, 5]

In [50]:
varlist = [1,2,3,4,5,6,7,8,9,10]

print(varlist[:2])

[1, 2]