<a href="https://colab.research.google.com/github/Ariascarljans/58003-OOP/blob/main/Loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [9]:
Week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in Week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested for loop

In [14]:
adjective = ["Big","Tasty","Juicy"]
fruits = ["Banana","Apple","Cherry"]
for x in adjective:
  for y in fruits: 
     print(x,y)

Big Banana
Big Apple
Big Cherry
Tasty Banana
Tasty Apple
Tasty Cherry
Juicy Banana
Juicy Apple
Juicy Cherry

Break statement in for loop

In [18]:
Week =  ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in Week:
  if x== "Thursday":
     break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only thursday using break statemnt for *loop*

In [29]:
Week =  ["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in Week:
  if x=="Thursday":  
    print (x)
    break

Thursday

In [30]:
for x in "Philippines":
    print(x)

P
h
i
l
i
p
p
i
n
e
s

While loop

In [32]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

While loop using break statement

In [45]:
i = 1
while i<=6:
  if i == 4: #only display only 4 
    print(i)
    break
  i+=1

4

Application 1

In [58]:
i = 0
while i<=10:
  print("Hello", i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [86]:
i = 3
while i<=10:
  if i>=10:
    break
  print(i)
  i+=1

3
4
5
6
7
8
9