<a href="https://colab.research.google.com/github/Ariascarljans/58003-OOP/blob/main/Phython_fundamentALS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to phython fundamentals

In [ ]:
#output variable
x = "AriasCarl"
print(x)
x = "enjoying"
print("phython programming is" + x)

AriasCarl
phython programming isenjoying

In [ ]:
#python indentation 
if 5>2: 
 print("5 is greater than 2")

5 is greater than 2

In [ ]:
#declaration of variable
x= 5
y= 2

if x>y:
  print("5 is greater than 2")
elif x<y:
  print("2 is greater than 5")
else:
  print ("5 and 2 are eqaul")

5 is greater than 2

In [ ]:
#python variable 

a, b=0, -1
print (a)
print (b)

0
-1

In [ ]:
#phyton variable with multiple values
a,b,c=0,-1,-2
print(a)
print(b)
print(c)

0
-1
-2

In [ ]:
a = 1
b = 2
c =3
print(a)

1

In [ ]:
#single variable with multiple values
a = b = c =4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [ ]:
print(type(a))

<class 'float'>

casting

In [6]:
a = "Sally"
b = int(4)
print(b)
b = float(4)
print(b)
print(a)

4
4.0
Sally

In [7]:
a ="sally"
print(type(a))
print(type(b))

<class 'str'>
<class 'float'>

Double or single quotes

In [15]:
Y ="ana"
y ="Jhon"

print(y)
print(Y)

Jhon
ana

In [18]:
y ="maria"
print(a)

sally

In [22]:
print(a)

sally

In [34]:
#concatenation
x = 'python is '
y = 'enjoying '
print(x +y) 
print(y+x)

python is enjoying
enjoying python is